# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.vscode/
.idea/

# ML models
ml/models/*.pkl

# ML data
ml/data/*.csv

# OS files
.DS_Store
Thumbs.db